.all{
    max-width: 100%;
    max-height: 100%;
}

.title-container{
    max-width: 100%;
    margin-top: 56px;
    text-align: center;
}

.title-trendy{
    color: #DF6951;
    font-family: "Poppins";
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: bold ;
    line-height: normal;
    letter-spacing: 1.8px;
    text-transform: uppercase;
}

.title-our-trending-tour{
    color: #181E4B;
    font-family: "Volkhov";
    font-size: 25px;
    font-style: normal;
    text-align: center;
    font-weight: 700;
    line-height: 71.042px; /* 142.085% */
}

.title-packages{
    color:#181E4B;
    font-family: "Volkhov";
    font-size: 25px;
    font-style: normal;
    text-align: center;
    font-weight: 700;
    line-height: 71.042px; /* 142.085% */
}

.content-container{
    max-width: 100%;
    max-height: 100%;
    margin-top: 51px;
    margin-bottom: 56px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;
}

.img-swiss{
    display: block;
}

.img-swiss-flag{
    display: block;
    position: absolute;
    bottom: 0px;
    left: 32.5px;
}

.img-brazil{
    display: block;
}

.img-brazil-flag{
    display: block;
    position: absolute;
    bottom: 0px;
    left: 32.5px
}

.img-egypt{
    display: block;
}

.img-egypt-flag{
    display: block;
    position: absolute;
    bottom: 0px;
    left: 32.5px
}

.img-position{
    position: relative;
    width: 393px;
    height: 345.5px;
    margin-bottom: 0px;
}

.img-calendar-icon{
    display: inline;
}

.text-calendar-icon{
    display: inline;
    color: #7D7D7D;
    text-align: center;
    font-family: "Poppins";
    font-size: 16.809px;
    font-style: normal;
    font-weight: 400;
    position: absolute;
    line-height: 20px;
    margin-left: 8px;
}

.img-user-icon{
    display: inline;
}

.text-user-icon{
    display: inline;
    color: #7D7D7D;
    text-align: center;
    font-family: "Poppins";
    font-size: 16.809px;
    font-style: normal;
    font-weight: 400;
    position: absolute;
    line-height: 20px;
    margin-left: 8px;
}

.calendar-container{
    display: inline;
    width: 116px;
}

.user-container{
    display: inline;
}

.calendar-and-user-container{
    display: flex;
    gap: 10px;
}

.pleace-text{
    display: inline-flex;
    color: #2F2F2F;
    font-family: "Poppins";
    font-size: 29.033px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    width: 176px;
}

.star-container{
    display: inline;
    margin-left: 113px;
}

.img-location-icon{
    display: inline;
}

.text-location-icon{
    display: inline;
    color: #7D7D7D;
    font-family: "Poppins";
    font-size: 16.809px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    text-transform: capitalize;
    position: absolute;
    margin-left: 5.5px;
}

.text-new-price{
    display: inline;
    color: #DF6951;
    font-family: "Poppins";
    font-size: 29.033px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    text-transform: capitalize;
}

.text-price{
    display: inline;
    color: #7D7D7D;
    font-family: "Poppins";
    font-size: 22px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    text-transform: capitalize;
    text-decoration: line-through;
    margin-left: 19px;
}

.text-tour-content{
    width: 391px;
    color: var(--black, #000);
    font-family: "Poppins";
    font-size: 12.224px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.449px; /* 200% */
    letter-spacing: 0.611px;
}

.explore-now-button{
    border: #DF6951;
    border-radius: 7.64px;
    background-color: #DF6951;
    box-shadow: 0px 15.28px 26.741px 0px rgba(223, 105, 81, 0.15);
    display: flex;
    width: 134.897px;
    height: 43.103px;
    padding: 0px 27.937px 7.184px 0px;
    justify-content: center;
    align-items: center;
    gap: 7.982px;
    flex-shrink: 0;
    color: var(--white, #FFF);
    text-align: center;
    font-family: Poppins;
    font-size: 12.771px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 30px;
}