.homepage-trending-tour-packages-conteiner {
  padding: 0 20px;
}
.homepage-trending-tour-title-box {
  margin: auto;
  text-align: center;
  margin-top: 56px;
  max-width: 485px;
}
.trending-tour-title-trendy {
  color: #df6951;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1.8px;
}
.trending-tour-title-our-trending {
  color: #181e4b;
  font-family: "Volkhov", serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 70px;
}
.homepage-trending-tour-card-container {
  display: flex;
  justify-content: center;
  gap: 100px;
  flex-wrap: wrap;
  margin-top: 51px;
  margin-bottom: 56px;
}
.trending-packages-card-box {
  max-width: 393px;
}
.packages-card-images {
  position: relative;
}
.packages-card-img {
  width: 100%;
}
.packages-card-flag-img {
  position: absolute;
  bottom: -78px;
  left: 10px;
}
.packages-card-calender-and-user-box {
  margin-top: 40px;
  color: #7d7d7d;
  font-family: "Poppins", sans-serif;
  display: flex;
  gap: 35px;
}
.packages-card-calender-and-user {
  display: flex;
  gap: 10px;
  align-items: center;
}
.packages-card-place-and-star-box {
  color: #2f2f2f;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}
.packages-card-location-box {
  display: flex;
  align-items: center;
  color: #7d7d7d;
  font-family: "Poppins", sans-serif;
  gap: 5.5px;
  padding-top: 4px;
}
.packages-card-price-box {
  display: flex;
  gap: 20px;
  align-items: center;
  padding-top: 8px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
.packages-card-new-price {
  color: #df6951;
  font-size: 30px;
}
.packages-card-price {
  color: #7d7d7d;
  font-size: 22px;
  text-decoration: line-through;
}
.packages-card-text-box {
  color: black;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.6px;
  padding-top: 4px;
  padding-bottom: 25px;
}
.packages-card-button {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 600;
  background: #df6951;
  border: none;
  border-radius: 7.5px;
  box-shadow: 0px 15px 25px 0px rgba(225, 105, 80, 0.2);
  padding: 12.5px 25px;
}
/*Homepage Trending Tour END*/

.homepage-testimonial-section-container {
  margin-top: 85px;
  background: rgb(215, 215, 215, 0.2);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}
.testimonial-section-seashell-img {
  position: absolute;
  left: 265px;
  top: -78px;
}
.testimonial-section-photo-img {
  position: absolute;
  right: 150px;
  top: -87px;
}
.testimonial-section-hat-img {
  position: absolute;
  left: 0px;
  bottom: 0px;
}
.testimonial-section-title-box {
  text-align: center;
  font-weight: 700;
  padding-bottom: 100px;
  z-index: +1;
}
.testimonial-title-promotion {
  color: #df6951;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  letter-spacing: 1.8px;
}
.testimonial-title-see-what {
  color: #181e4b;
  font-family: "Volkhov", serif;
  font-size: 50px;
  line-height: 70px;
}
.testimonial-section-box {
  padding: 95px 80px 35px 80px;
  background-color: #fff;
  border-radius: 17px;
  position: relative;
}
.testimonial-section-pp-img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -73px;
}
.testimonial-section-arrow-left-icon {
  position: absolute;
  left: -66px;
}
.testimonial-section-arrow-right-icon {
  position: absolute;
  right: -66px;
}
.testimonial-comment-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: black;
  font-family: "Poppins", sans-serif;
  line-height: 24.5px;
  letter-spacing: 0.6px;
  text-align: center;
}
.testimonial-section-box-quotes {
  position: absolute;
  top: -42px;
  left: -30px;
}
.testimonial-comment-text {
  font-size: 12px;
}
.testimonial-comment-text span {
  font-size: 28px;
  font-weight: 700;
  display: inline-block;
  transform: translateY(-10px);
  font-family: serif;
}
.testimonial-comment-commentator {
  font-size: 12px;
  font-weight: 700;
}
.testimonial-pagination-img {
  padding: 35px 0px 70px 0px;
  z-index: +1;
}
@media (max-width: 575px) {
  .homepage-testimonial-section-container {
    padding: 40px 23px;
  }
  .testimonial-section-seashell-img {
    width: 105px;
    height: 108px;
    top: -39px;
    left: 0px;
  }
  .testimonial-section-photo-img {
    width: 150px;
    height: 170px;
    top: -44px;
  }
  .testimonial-section-hat-img {
    width: 250px;
    height: 240px;
  }
  .testimonial-title-see-what {
    font-size: 25px;
    line-height: 35px;
  }
  .testimonial-section-box {
    padding: 85px 40px 35px 40px;
  }
  .testimonial-comment-box {
    line-height: 14px;
    letter-spacing: 0.1px;
  }
  .testimonial-comment-text {
    font-size: 10px;
  }
}
@media (max-width: 700px) {
  .testimonial-section-arrow-left-icon {
    display: none;
  }
  .testimonial-section-arrow-right-icon {
    display: none;
  }
  .testimonial-section-box {
    background: rgb(255, 255, 255, 0.5);
  }
}
@media (max-width: 1150px) {
  .testimonial-section-seashell-img {
    opacity: 0.7;
  }
  .testimonial-section-photo-img {
    opacity: 0.7;
  }
}
@media (max-width: 1450px) {
  .testimonial-section-seashell-img {
    left: 0;
  }
  .testimonial-section-photo-img {
    right: 0;
  }
}
/*Homepage Tesimonial END*/
