.homepage-favorite-resorts{
    display: flex;
    justify-content: center;
    margin: 80px 0 50px 0;
}
.favorite-resorts-container{
    max-width: 1350px; 
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.favorites-contexts-box{
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 20px;
   max-width: 400px;

}

.favorite-top-title{
    max-width: 450px;
    font-family: "Poppins";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #DF6951;
}

.favorite-title{
max-width: 450px;
font-family: "Volkhov";
font-size: 42px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: capitalize;
padding: 0 0 30px;
color: #181E4B;


}

.favorites-contexts-image{
    /*width: 50px;
    height: 50px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;

    
}

.favorite-subtitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    color: #5E6282;
    font-family: "Poppins";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;

}

.favorite-text{
    color: #5E6282;
    font-family: "Poppins";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
}
